{% extends 'shop/basic.html' %}
{% block title %} About Us {% endblock %}
{% block body %} 
<main role="main">

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1 class="display-3">S2E-Shop </h1>
        <p>We are maximisers. We're out on our own journeys to maximise - be the best at 
          what we choose and care about the most - whether it be our impact, voice, potential, ideas, 
          influence, well-being or more. Because when we maximise ourselves in our inclusive teams,
           S2E-Shop is able to deliver the best 
          imaginable value for our customers, stakeholders and the planet!</p>
        {% comment %} <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p> {% endcomment %}
      </div>
    </div>
  
    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>Leave a Mark</h2>
          <p>We're known more by the impact we create
            than the titles we hold. Impact that is brought by
            working together on audacious challenges at scale
            with an aim to revolutionize for the Indian customer.
            We believe great ideas can emerge from anywhere
            and must be backed. Our people - backed by our
            culture of end-to-end ownership - have revolutionised
            India's e-commerce sector - several times over!</p>
          {% comment %} <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p> {% endcomment %}
        </div>
        <div class="col-md-4">
          <h2>Experiment Learn Grow</h2>
          <p>Our journey of building India's biggest unicorn
            start-up has been full of successes, but also failures
            and learning from them. That's why there's calculated
            risk-taking, a high willingness to learn and improvise,
            and a growth orientation built into everything we do.
            Whether it be opening a new warehouse, or making
            our mobile app a bit more consumer friendly, we're
            always experimenting, learning and growing! </p>
          {% comment %} <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p> {% endcomment %}
        </div>
        <div class="col-md-4">
          <h2>We Care</h2>
          <p>Our culture of care extends to our people,
            stakeholders, customers and the planet! We do not
            believe in a one size fits all strategy. Our benefits and
            care policies are driven by empathy and customised
            to the unique needs of individual Flipsters. Because
            when Flipsters and their families are cared for, they
            can focus on doing their best work. We put your
            hopes, dreams and endeavours first - always.</p>
          {% comment %} <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p> {% endcomment %}
        </div>
      </div>
  
      <hr>

    </div> <!-- /container -->

</main>  






{% endblock %}